.search-list {
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 99;
    list-style: none;
    padding: 0;
    width: 190px;
    padding: 15px;
    box-shadow: 1px 5px 15px rgba(0,0,0,.2);}