<div class="breadcrumb justify-content-between mb-2">
    <h4>POS Accounts</h4>

    <!-- <a href="#" routerLink="/pos-accounts/add-pos" class="btn btn-outline-primary ripple m-1">Add</a> -->
    <a href="#" *ngIf="role==='psp'" class="btn btn-primary btn-xs general-btn" routerLink="add-pos"
        ngbPopover="Add POS" triggers="mouseenter:mouseleave" placement="left"><span
            class="las la-plus la-1-5x"></span></a>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="card separator-breadcrumb-custom">
    <div class="card-body py-2">
        <div class="example-header px-0 py-0 d-flex justify-content-end">
            <mat-form-field>
                <div class="d-flex">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    <i class="search-icon text-muted i-Magnifi-Glass1"></i>
                </div>
            </mat-form-field>
        </div>
        <div class="example-container mat-elevation-z8 shadow-0 table-responsive">
            <mat-table [dataSource]="dataSource" matSort role="grid" style="width: 100%;">

                <!-- ID Column -->
                <ng-container matColumnDef="position">
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
                    <mat-cell *matCellDef="let row;let i = index;"> {{i+1}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>
                <!-- PSP Column -->
                <!-- <ng-container matColumnDef="psp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>PSP </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.psp}} </mat-cell>
                </ng-container> -->

                <!-- city Column -->
                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="address-field">{{row.address}} </span> </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="email-field"> {{row.email}} </span> </mat-cell>
                </ng-container>

                <!-- status Column -->
                <!-- <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
                </ng-container> -->

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <!--  <a class="btn btn-secondary btn-xs general-btn ripple m-1" (click)="open(modalLong,row.id)"
                            ngbPopover="Edit" triggers="mouseenter:mouseleave" placement="top"><span
                                class="las la-pen la-1-5x"></span></a> -->
                                <a class="btn btn-secondary btn-xs general-btn ripple m-1"  [routerLink]="['edit-pos/',row.id]"
                                ngbPopover="Edit" triggers="mouseenter:mouseleave" placement="top"><span
                                   class="las la-pen la-1-5x"></span></a>
                        <a class="btn btn-primary btn-xs general-btn ripple m-1" (click)="confirm(modalConfirm,row.id)"
                            ngbPopover="Delete" triggers="mouseenter:mouseleave" placement="top"><span
                                class="las la-trash la-1-5x"></span></a>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <!-- <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator id="paginator" #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                class="mat-paginator-sticky"></mat-paginator>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </mat-card>
        </div>
    </div>
</div>


<!-- Delete Modal Start-->
<ng-template #modalConfirm let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">POS deletion</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="las la-times la-1-5x secondry"></span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete <span class="text-primary"><strong>"Test"</strong></span> POS?</p>
        <p>All information associated to this Customer will be permanently deleted.<br>
            <span class="text-danger">This operation can not be undone.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-rounded mr-2"
            (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click)="modal.close('Ok')">Ok</button>
    </div>
</ng-template>