<div class="breadcrumb mb-2">
    <h4>POS Dashboard</h4>
    <!-- <ul>
            <li><a href="">Dashboard</a></li>
            <li>Version 1</li>
        </ul> -->
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                <i class="i-Money-2"></i>
                <div class="content" style="max-width: 120px;">
                    <p class="text-muted mt-2 mb-0">Account credit</p>
                    <p class="text-primary text-24 line-height-1 mb-2">1200</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                <i class="i-Ticket"></i>support tickets 
                <div class="content" style="max-width: 120px;">
                    <p class="text-muted mt-2 mb-0">Past</p>
                    <p class="text-primary text-24 line-height-1 mb-2">206</p>
                </div>
                <div class="content" style="max-width: 120px;">
                    <p class="text-muted mt-2 mb-0">Panding</p>
                    <p class="text-primary text-24 line-height-1 mb-2">160</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-0">Recent raised tickets</div>
                <app-recent-raised-tickets></app-recent-raised-tickets>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-0">Recent customers</div>
                <app-recent-customers></app-recent-customers>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-0">Recent parcels</div>
                <app-recent-parcels></app-recent-parcels>
            </div>
        </div>
    </div>
</div>